{% extends 'base.html' %}


#tag static
{% load static %}

{% static 'chemin/vers/votre/fichier.css' as css_file %}

<link rel="stylesheet" type="text/css" href="{{ css_file }}">

# tag _________________------


{% block title %}Services{% endblock %}

{% block content %}
  <h1>Services</h1>
  <p>Nous proposons les services suivants :</p>

  <ul>
    <li>Rédaction d'actes notariés</li>
    <li>Conseils juridiques</li>
    <li>Authentification de documents</li>
    <li>Gestion de succession</li>
  </ul>

  <!-- Ajoutez ici vos fichiers CSS personnalisés -->
  <link href="{% static 'css/services.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
  <script>
    // Ajoutez ici votre code JavaScript personnalisé
  </script>
{% endblock %}