<!-- Inclure le fichier base.html pour hériter de la structure de base -->
{% extends 'chambre/base.html' %}

<!-- Définir le bloc de contenu pour la page de login -->
{% block content %}

    <!-- Titre de la page de login -->
    <h1>Login</h1>

    <!-- Formulaire de login -->
    <form method="post">
        <!-- Token de sécurité pour empêcher les attaques de cross-site request forgery (CSRF) -->
        {% csrf_token %}

        <!-- Champ de saisie pour le nom d'utilisateur -->
        {{ form.username.label_tag }} {{ form.username }}
        <!-- Champ de saisie pour le mot de passe -->
        {{ form.password.label_tag }} {{ form.password }}

        <!-- Bouton de soumission du formulaire -->
        <button type="submit">Login</button>

        <!-- Message d'erreur si le formulaire n'est pas valide -->
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </form>

    <!-- Lien pour se connecter avec un compte existant -->
    <p>Vous avez déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>

    <!-- Lien pour créer un nouveau compte -->
    <p>Pas encore de compte ? <a href="{% url 'register' %}">Créer un compte</a></p>

{% endblock %}