{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Déconnexion</h4>
                </div>
                <div class="card-body">
                    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'accueil' %}" class="btn btn-secondary me-2">Annuler</a>
                            <button type="submit" class="btn btn-danger">Se déconnecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}